<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NDTVUrl" value="https://www.ndtv.com/"/>
    <add key="OpenWeatherEndPoint" value="https://api.openweathermap.org/data/2.5/weather?q="/>
    <add key="OpenWeatherApiKey" value="7fe67bf08c80ded756e598d6f8fedaea"/>
  </appSettings>
</configuration>